= form_for(@note, url: beer_note_path(@beer), html: { remote: true, 'data-type' => 'json', style: 'margin-bottom: 0;'}) do |f|

  before text
  = f.text_area :text, :placeholder => 'Enter some personal notes...', :style => 'width: 516px; height: 154px;'

  %div{ :style => 'text-align:center;'}
    %a.btn{ :'data-dismiss' => 'modal', :'aria-hidden' => true } Close
    %button.btn.btn-primary Save changes
